.logo{
    width: 173px;
}

a{
    font-weight: 600;
    font-size: 16px;
    border-right: 2px solid white;
    border-radius: 0% !important;
}

.button-wpp{
    background-color: #15A54F !important;
    border-radius: 100%;
}